[submodule "zsh/.zsh/.zgen"]
	path = zsh/.zsh/.zgen
	url = git@github:alexconst/zgen.git
[submodule "vim/.vim/bundle/nerdcommenter"]
	path = vim/.vim/bundle/nerdcommenter
	url = git@github:alexconst/nerdcommenter
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = git@github:alexconst/nerdtree
[submodule "vim/.vim/bundle/ack.vim"]
	path = vim/.vim/bundle/ack.vim
	url = git@github:alexconst/ack.vim
